.time-box-wrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.time-box {
   border: 2px solid rgba(255, 255, 255, 0.4);
   border-radius: 10px;
   width: 100px;
   padding: 20px 10px;
   background: rgba(255, 255, 255, 0.05);
}

.number {
   font-size: 2rem;
   font-weight: bold;
}

.label {
   font-size: 0.9rem;
   margin-top: 5px;
   color: #e5e5e5;
}